USE [master]
GO
/****** Object:  Database [sufe cares db]    Script Date: 2025/7/1 0:02:30 ******/
CREATE DATABASE [sufe cares db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sufe cares db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\sufe cares db.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sufe cares db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\sufe cares db_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sufe cares db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sufe cares db]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](50) NOT NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Canteen]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canteen](
	[CanteenID] [int] IDENTITY(1,1) NOT NULL,
	[CanteenName] [nvarchar](20) NOT NULL,
	[ImagePath] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CanteenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[DishID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[CommentTime] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[DishID] [int] IDENTITY(1,1) NOT NULL,
	[DishName] [nvarchar](20) NOT NULL,
	[CanteenID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [decimal](18, 1) NOT NULL,
	[Price] [float] NOT NULL,
	[Calories] [int] NULL,
	[Protein] [float] NULL,
	[Carbs] [float] NULL,
	[Fat] [float] NULL,
	[ImagePath] [nvarchar](100) NULL,
	[like_count] [int] NULL,
	[dislike_count] [int] NULL,
	[favorite_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marks]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[dishname] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dishname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserFavorites]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavorites](
	[UserID] [int] NOT NULL,
	[DishID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLikedDishes]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikedDishes](
	[UserID] [int] NOT NULL,
	[DishID] [int] NOT NULL,
	[IsLike] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSecurity]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSecurity](
	[SecurityID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Question] [nvarchar](200) NOT NULL,
	[Answer] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SecurityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_DishComments]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--评论视图
CREATE VIEW [dbo].[View_DishComments] AS
SELECT 
    c.CommentID,
    c.DishID,
    d.DishName,
    c.UserID,
    u.UserName,
    c.CommentContent,
    c.CommentTime
FROM 
    Comments c
    INNER JOIN Dishes d ON c.DishID=d.DishID
    INNER JOIN Users u ON c.UserID=u.UserID;

GO
/****** Object:  View [dbo].[View_DishRanking]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--视图
--排行榜视图
CREATE VIEW [dbo].[View_DishRanking] AS
SELECT 
    d.DishID,
    d.DishName,
    d.Rating,
    d.Like_Count,
    d.Dislike_Count,
    d.CanteenID,
    c.CanteenName,
    d.CategoryID,
    cat.CategoryName
FROM 
    Dishes d
INNER JOIN 
    Canteen c ON d.CanteenID=c.CanteenID
INNER JOIN 
    Category cat ON d.CategoryID=cat.CategoryID;

GO
/****** Object:  View [dbo].[View_UserFavorites]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--收藏夹视图
CREATE VIEW [dbo].[View_UserFavorites] AS
SELECT 
    uf.UserID,
    u.UserName,
    d.DishID,
    d.DishName,
    d.Price,
    d.Rating
FROM 
    UserFavorites uf
    INNER JOIN Users u ON uf.UserID=u.UserID
    INNER JOIN Dishes d ON uf.DishID=d.DishID;

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminName], [PasswordHash], [LastLogin]) VALUES (1, N'12123', N'asdfghjkl', NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Admins__D6316B687EA03D8F]    Script Date: 2025/7/1 0:02:30 ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[AdminName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Username]    Script Date: 2025/7/1 0:02:30 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CommentTime]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0.0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0)) FOR [dislike_count]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT ((0)) FOR [favorite_count]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Dishes] FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([DishID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Dishes]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Canteen] FOREIGN KEY([CanteenID])
REFERENCES [dbo].[Canteen] ([CanteenID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_Canteen]
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_Category]
GO
ALTER TABLE [dbo].[UserFavorites]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_UserFavorites] FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([DishID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavorites] CHECK CONSTRAINT [FK_Dishes_UserFavorites]
GO
ALTER TABLE [dbo].[UserFavorites]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserFavorites] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavorites] CHECK CONSTRAINT [FK_Users_UserFavorites]
GO
ALTER TABLE [dbo].[UserLikedDishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_UserLikedDishes] FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([DishID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikedDishes] CHECK CONSTRAINT [FK_Dishes_UserLikedDishes]
GO
ALTER TABLE [dbo].[UserLikedDishes]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserLikedDishes] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikedDishes] CHECK CONSTRAINT [FK_Users_UserLikedDishes]
GO
ALTER TABLE [dbo].[UserSecurity]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserSecurity] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSecurity] CHECK CONSTRAINT [FK_Users_UserSecurity]
GO
/****** Object:  StoredProcedure [dbo].[AddDish]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--菜品
	--添加菜品
	CREATE PROCEDURE [dbo].[AddDish]
    @DishName NVARCHAR(20),
    @CanteenID INT,
    @CategoryID INT,
    @Price FLOAT,
    @Description NVARCHAR(MAX),
    @ImagePath NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Dishes WHERE DishName=@DishName AND CanteenID=@CanteenID AND CategoryID=@CategoryID)
    BEGIN
        RAISERROR('请不要重复添加哦~',16,1);
        RETURN;
    END
    INSERT INTO Dishes (DishName, CanteenID, CategoryID, Price, Description, ImagePath)
    VALUES (@DishName, @CanteenID, @CategoryID, @Price, @Description, @ImagePath);
END

GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--忘记密码
	CREATE PROCEDURE [dbo].[ChangePassword]
    @UserName NVARCHAR(20),
    @Question NVARCHAR(200),
    @Answer NVARCHAR(200),
    @NewPassword NVARCHAR(20)
AS
BEGIN
    DECLARE @UserID INT;
    SELECT @UserID = UserID FROM Users WHERE UserName=@UserName;
    IF @UserID IS NULL
    BEGIN
        RAISERROR('用户不存在',16,1);
        RETURN;
    END
    IF EXISTS (SELECT 1 FROM UserSecurity WHERE UserID=@UserID AND Question=@Question AND Answer=@Answer)
    BEGIN
        UPDATE Users SET Password=@NewPassword WHERE UserID=@UserID;
        SELECT '密码修改成功' AS Status;
    END
    ELSE
    BEGIN
        RAISERROR('回答错误，请重新尝试',16,1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[DishRanking]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--排行榜所需分类筛选
CREATE PROCEDURE [dbo].[DishRanking]
    @CanteenID INT=NULL,
    @CategoryID INT=NULL 
AS
BEGIN
    SELECT 
        DishID,
        DishName,
        Rating,
        Like_Count,
        Dislike_Count,
        CanteenName,
        CategoryName
    FROM 
        View_DishRanking
    WHERE 
        (@CanteenID IS NULL OR CanteenID=@CanteenID)
        AND (@CategoryID IS NULL OR CategoryID=@CategoryID)
    ORDER BY 
        Rating DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[FavoriteDish]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--收藏
	CREATE PROCEDURE [dbo].[FavoriteDish]
    @UserID INT,
    @DishID INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM UserFavorites WHERE UserID=@UserID AND DishID = @DishID)
    BEGIN
        INSERT INTO UserFavorites (UserID, DishID) VALUES (@UserID, @DishID);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[LikeOrDislike]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--赞和踩
	CREATE PROCEDURE [dbo].[LikeOrDislike]
    @UserID INT,
    @DishID INT,
    @IsLike BIT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM UserLikedDishes WHERE UserID=@UserID AND DishID=@DishID)
    BEGIN
        UPDATE UserLikedDishes SET IsLike = @IsLike WHERE UserID=@UserID AND DishID=@DishID;
    END
    ELSE
    BEGIN
        INSERT INTO UserLikedDishes (UserID, DishID, IsLike) VALUES (@UserID, @DishID, @IsLike);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[PostComment]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--评论
	CREATE PROCEDURE [dbo].[PostComment]
    @UserID INT,
    @DishID INT,
    @CommentContent NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Comments (UserID, DishID, CommentContent)
    VALUES (@UserID, @DishID, @CommentContent);
END

GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--存储过程

--用户
	--注册
	CREATE PROCEDURE [dbo].[RegisterUser]
    @UserName NVARCHAR(20),
    @Password NVARCHAR(20),
    @Question NVARCHAR(200),
    @Answer NVARCHAR(200)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE UserName = @UserName)
    BEGIN
        RAISERROR('用户名已存在', 16, 1);--我们不允许重复的用户名
        RETURN;
    END
    INSERT INTO Users (UserName, Password)
    VALUES (@UserName, @Password);
    DECLARE @UserID INT = SCOPE_IDENTITY();
    INSERT INTO UserSecurity (UserID, Question, Answer)
    VALUES (@UserID, @Question, @Answer);
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateDes]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--信息调整
	CREATE PROCEDURE [dbo].[UpdateDes]
    @DishID INT,
    @Price FLOAT = NULL,
    @Description NVARCHAR(MAX)=NULL,
    @ImagePath NVARCHAR(100)=NULL
AS
BEGIN
    UPDATE Dishes
    SET Price=ISNULL(@Price, Price),
        Description=ISNULL(@Description, Description),
        ImagePath=ISNULL(@ImagePath, ImagePath)
    WHERE DishID=@DishID;
END

GO
/****** Object:  StoredProcedure [dbo].[ValidateUserLogin]    Script Date: 2025/7/1 0:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--登录
	CREATE PROCEDURE [dbo].[ValidateUserLogin]
    @UserName NVARCHAR(20),
    @Password NVARCHAR(20)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE UserName=@UserName AND Password = @Password)
        SELECT '登录成功' AS Status;
    ELSE
        SELECT '用户名或密码错误' AS Status;
END

GO
USE [master]
GO
